html, body{
  outline: 0px;
  margin: 0px;
  padding: 0px;
  background: #ddd;
}
#contactHeader{
  background-image: url(File://C:/Users/Resmi/Pictures/contactbackground.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
#contactheading{ 
        
      max-height: 400px;
      min-height: 400px;
      min-width: 100%;
      
      width: 1900px;
      height: 400;
      
      position: fixed;
      top: 0;
      left: 0;
      background-size: 100% 200px;
      
}

@media screen and (max-width: 1024px){
      .heading img {
        left: 50%;
        margin-left: -512px; }


}
li 
{ 
  display: inline-block; 
  color:white;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  top: 32px;
  right:128px;

}


li a
{ 
  display: inline-block; 
  color:white;
  font-weight: bold;
  position: absolute;
  font-size: 18px;
  right: 512px;
    
}
h1{

  height:20em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}



form
{
margin: auto;
position: relative;
width: 550px;
height: 450px;
font-family: Tahoma,Geneva,sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: black;
text-decoration: none;
border-radius: 10px;
padding: 10px;
border: 1 px solid #999;
border: inset 1px solid #333;



}

input {
    width: 375px;
   display: block;
   border: 1px solid #999;
   height:25px;

} 

textarea#message
{
	width:375px;
	height: 150px;
	display: block;
}

select#questionbook
{
	
	width: 375px;
   display: block;
   border: 1px solid #999;
   height:25px;
}
